/*General*/

*{
    margin: 0;
}


section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0rem;
    padding-bottom: 5rem;   
  }

div.resume-section-content{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    max-width: 75rem;
}

.active {
  color: var(--bs-navbar-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

.poster-img{
    width: 400;
    border: solid 2.5px gray;
}

.logo{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5rem;
}

.icon-wrapper{
    line-height: 20px;
}
.icon{
    vertical-align: middle;
    height: 25px;
}

.jumbotron{
    padding-top: 0;
    background-image: url("../assets/img/cover2.png");
    background-size: cover;
    background-color:rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
}

.row{
    padding-left: 5rem;
    padding-top: 3rem;
}